/* GENERAL */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white; /*RIMUOVERE*/
}

.wrapper{
  height: 100vh;
}
/* /GENERAL */

/* MAIN */
.main_section{
  display: flex;
  height: calc(100% - 80px);
}

/* navbar laterale sx */
.navbar_list{
  width: 200px;
  height: 100%;
  background-color: #000000;
}
.logo{
  background-color: brown;
}
.main_list{
  background-color: red;
}
.playlist_list{
  height: 70%;
  overflow-y: auto;
}
.playlist{
  height: calc(100% - 132px);
  background-color: green;
}
.profile_link{
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightgrey;
  padding: 0 10px;
}
/* /navbar laterale sx */

/* sezione musica e artisti */
.artist_section{
  height: 100%;
  width: calc(100% - 200px);
  background-color: #141922;
}

.btn_upgrade_fixed{
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  width: calc(100% - 200px);
  background-color: #080B12;
  padding-right: 20px;
}

.music_choose{
  height: calc(100% - 80px);
  overflow-y: auto;
  margin-top: 80px;
  padding: 20px;
}
/* /sezione musica e artisti */
/* /MAIN */

/* FOOTER */
.song_row{
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  background-color: #282828;
  padding: 15px;
}
/* /FOOTER */
