/* GENERAL */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
}

h2{
  color: #ffffff;
  font-size: 26px;
  margin-top: 50px;
  margin-bottom: 10px;
}

h3{
  color: #ffffff;
}

ul{
  list-style: none;
  padding: 0;
}

a{
  text-decoration: none;
  color: #A3A3A3;
}

.d_flex{
  display: flex;
  margin: 30px 0;
}

.wrapper{
  height: 100vh;
}

.genre{
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  margin: 10px 0;
}

.subtitle{
  color: #A3A3A3;
  font-size: 10px;
  font-weight: 700;
}

.circle_img{
  border-radius: 50%;
}
/* /GENERAL */

/* MAIN */
.main_section{
  display: flex;
  height: calc(100% - 80px);
}

/* navbar laterale sx */
.navbar_list{
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #A3A3A3;
  background-color: #000000;
  font-size: 14px;
  padding: 15px;
  padding-bottom: 0;
}

.navbar_list li:not(:last-child){
  padding-bottom: 5px;
}

.logo img{
  max-width: 130px;
  height: auto;
}

.main_list{
  background-color: red;
  margin: 10px 0;
}

.home_li::before{
  content: "\f015";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  font-weight: 700;
  vertical-align: middle;
  margin-right: 10px;
}
.search_li::before{
  content: "\f002";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  font-weight: 700;
  vertical-align: middle;
  margin-right: 10px;
}
.library_li::before{
  content: "\f02d";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  font-weight: 700;
  vertical-align: middle;
  margin-right: 10px;
}

.playlist{
  height: 100%;
  background-color: green;
  overflow: hidden;
}

.playlist_list{
  height: 70%;
  overflow-y: auto;
  margin-top: 10px;
}

.create_playlist::before{
  content: "\f0fe";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-size: 34px;
  font-weight: 700;
  vertical-align: middle;
  margin-right: 10px;
}

.profile_link{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightgrey;
  padding: 10px 0;
}
/* /navbar laterale sx */

/* sezione musica e artisti */
.artist_section{
  height: 100%;
  width: calc(100% - 200px);
  background-color: #141922;
  overflow-y: auto;
}

.artist_section small{
  color: #A3A3A3;
  font-size: 11px;
  font-weight: 700;
  margin-top: 20px;
}

.under_upgrade{
  height: 80px;
  background-color: #080B12;
}

.btn_upgrade_fixed{
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  width: calc(100% - 200px);
  background-color: rgba(0, 0, 0, 0.5);
  padding-right: 40px;
}

.btn_upgrade_fixed a{
  color: #ffffff;
  font-size: 14px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  padding: 5px 10px;
}
.btn_upgrade_fixed a:hover{
  font-size: 16px;
}

.music_choose{
  height: calc(100% - 80px);
  padding: 20px;
}

.song_list ul{
  text-align: center;
}

.song_list ul>li{
  display: inline-block;
  font-size: 12px;
  padding: 0 10px;
}
.song_list li a:hover{
  color: #ffffff;
  border-bottom: 2px solid #639029;
}

.container_music{
  width: calc(100%/6);
}
.container_music:not(:last-child){
  margin-right: 30px;
}

.artist_img img{
  height: auto;
  width: 100%;
}
.container_music p{
  text-align: center;
}
/* /sezione musica e artisti */
/* /MAIN */

/* FOOTER */
.song_row{
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  background-color: #282828;
  padding: 15px;
}

.player_brano{
  display: flex;
  align-items: center;
  width: 200px;
}

.player_brano_img img{
  width: 50px;
  height: auto;
  vertical-align: middle;
}

.brano_nome{
  margin: 0 10px;
}
.brano_nome .genre{
  font-size: 12px;
  margin: 0;
}
.brano_nome small{
  font-size: 10px;
  color: #A3A3A3;
}

.song_row a{
  margin-left: 10px;
}
.song_row a:hover{
  color: #ffffff;
}

.player_volume{
  line-height: 50px;
  font-size: 12px;
}
.song_row hr{
  border-radius: 30px;
  padding: 2px 50px;
  background-color: #5A5A5A;
  display: inline-block;
  margin-left: 5px;
}
hr.hr_hover{
  display: none;
}
/*
DA FIXARE
.player_volume hr:hover{
  display: block;
  border-radius: 30px;
  padding: 2px 20px;
  background-color: green;
} */
.player{
  text-align: center;
}

.player_icon_setting a{
  margin: 0 10px;
}
a.player_icon:hover{
  font-size: 16px;
}

.player_time{
  margin: 10px 0;
}

.player_time hr{
  padding: 2px 100px;
}

.player_time span{
  font-size: 10px;
  font-weight: 500;
  color: #A3A3A3;
  margin: 0 10px;
}
/* /FOOTER */
